:root{
    --primary: #b689b6;
    --bg: #010101;
}
html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: o;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
    min-height: 2000px;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(1, 1, 1, 0,8);
    border-bottom: 1px solid #614561;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 9999;
}
.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}
.navbar .navbar-logo span{
    color: var(--primary);
}
.navbar .navbar-nav a{
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}
.navbar .navbar-nav a:hover{
    color: var(--primary);
}


/* hero section */
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(./assets/bag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1,1,3,1)3%, rgba(255,255,255,0)50%);
}
.hero .conten{
    padding: 1.4rem 7%;
    max-width: 60rem;
}
.hero .conten h1 {
    font-size: 45px;
    color: #fff;
    line-height: 1.2;
}
.hero .conten h1 span{
    color: var(--primary);
}
.hero .conten p{
    font-size: 15px;
    margin-top: 10px;
    font-weight: 100;
}
.hero .conten .put{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    color: #fff;
    background-color: var(--primary);
    border-radius: 10px;
}

/* about */
.about{
    padding: 6.5rem 7% 1.4rem;
}
.about h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 80px;
}
.about h2 span{
    color: #b689b6;
}
.about .row {
    display: flex;
}
.about .row .conten{
    flex: 1 1 35rem;
    padding: 0 0.5rem;
}
.about .row .about-img{
    flex: 1 1 45px;
}
.about .row .about-img img{
    width: 100%;
    border-radius: 20px;
}
.about .row .conten{
    flex: 1 1 30rem;
    padding: 0 1rem;
}
.about .row .conten h3{
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.about .row .conten P{
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 1.6;
}

/* portofolio/skil */
.skill{
    padding: 6.5rem 7% 1.4rem;
}
.skill h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}
.skill h2 span{
    color: #b689b6;
}
.skill p{
    text-align: center;
    font-weight: 100;
}
.skill .row{
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;

}
.skill .row .menu-card{
    text-align: center;
}
.skill .row .menu-card img{
    /* border-radius: 50%; */
    width: 50%;
}



/* blog */
.blog{
    padding: 6.5rem 7% 1.4rem;
}
.blog h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}
.blog h2 span{
    color: #b689b6;
}
.blog .row {
    display: flex;
}
.blog .row .conten{
    flex: 1 1 35rem;
    padding: 0 1rem;
}
.blog .row .blog-img{
    flex: 1 1 55px;
}
.blog .row .blog-img{
    width: 100;
}
.blog .row .conten h3{
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.blog .row .conten P{
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 1.6;
}
.blog .row .blog-img img{
    margin: 20px;
    width: 300px;
}

/* footer */
footer {
    padding: 30px;
    color: white;
    background-color: #463525;
    text-align: center;
    font-weight: bold;
 }